@model List<Pizza>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Success</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/success.css" />
    <link rel="stylesheet" href="~/css/slot.css" />
    <script type="module"  src="~/js/confetti.js" asp-append-version="true"></script>
    <script type="module"  src="~/js/slot.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<div class="success">
    <div class="container">
        <div class="row">

            <h3 class="success__text success__title">VIELEN DANK FÜR DEINE BESTELLUNG!</h3>
            <h5 class="success__text success__subtitle">DEINE PIZZA IST AUF DEM WEG ZU DIR</h5>

            <div class="success__image-container">
                <img class="success__image" src="~/Bilder/scooter.gif" />
            </div>

        </div>
</div>
<div id="app">
  <h3 class="info">3x 🍕 = Gratis Pizza zur nächsten Bestellung</h3>
  <div class="doors">
    <div class="door">
      <div class="boxes">
        <!-- <div class="box">?</div> -->
      </div>
    </div>

    <div class="door">
      <div class="boxes">
        <!-- <div class="box">?</div> -->
      </div>
    </div>

    <div class="door">
      <div class="boxes">
        <!-- <div class="box">?</div> -->
      </div>
    </div>
  </div>

  <div class="buttons">
    <button id="spinner">Drehen</button>
  </div>

</div>
