.success {
    padding: 5rem 0;
}

.success__text {
    text-align: center;
}

.success__title {
    margin-bottom: 1rem;
}

.success__subtitle {
    color: #888;
}

.success__image-container {
    display: flex;
    justify-content: center;
    height: 60vh;
}